[mysqld]
server-id=1
datadir=/var/lib/mysql
log-bin=mysql-bin
user=mysql
symbolic-links=0
character_set_server=utf8
max_allowed_packet=512M
max_connect_errors = 5000
skip-name-resolve
innodb_file_per_table=1

[mysqld_safe]
log-error=/var/lib/mysql/mysqld-error.log
pid-file=/var/run/mysqld/mysqld.pid
default-character-set=utf8